{% extends 'base.html' %}
{% block content %}
<header>
    <div class="container header-content">
        <h1>MY GALLERY</h1>
        <h3>The Sky Is The Ultimate Art Gallery Above US.</h3>
        <form class="navbar-form" role="search" action="{% url 'search_results' %}" METHOD="GET">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Item" name="image">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="Submit">Go</button>
                </div>
            </div>
        </form>
    </div>
</header>
<br>
<div class="container-fluid display">
    <div class="row">
        {% for image in images %}
        <div class="col-sm-12 col-md-6 col-lg-3">
            <img src="{{post.image.url}}" class="img-fluid img-thumbnail img-responsive" alt="image" height="300px" width="300px"
               data-toggle="modal" data-target="#{{image.name}}{{image.id}}">
        </div>
        <div class="modal fade" id="{{image.name}}{{image.id}}" tabindex="-1" role="dialog" 
        aria-labelledby="examplemodal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center" id="modaltitle">{{image.name}}</h4>
                    <p>{{image.description}}</p>
                </div>
                <div class="modal-body text-center">
                    <img src="{{post.image}}" alt="" width="100%" height="100%">
                </div>
                <div class="modal-footer">
                    <div class="form-group row">
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 padding-1">
                            <input type="text" class="form-control w- mx-3" value="{{image.image.url}}" id="myInput">
                            <button class="btn btn-sm btn-outline-info" onclick="myFunction()">Copy</button>
                        </div>
                    </div>
                    <span>Location:{{post.image_location}}</span>
                    <span>Category:{{post.image_category}}</span>
                    <button type="button" class="btn btn-sm btn-outline-info" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>
<script>
    function myFunction() {
        var copyText = document.getElementById("myInput");
        copyText.select();
        document.execCommand("copy");
        alert("Copied the url: " + copyText.value);
    }
</script>
{% endblock %}