<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand text-white" href="#">My <span style="color:gold;font-style: italic;">Snapshots</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link text-white" href="{% url 'home' %}">Home<span class="sr-only">(current)</span></a>
            </li>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    places
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'search_by_location' %}">Nairobi</a>
                    <a class="dropdown-item" href="{% url 'search_by_location' %}">Paris</a>
                    <a class="dropdown-item" href="{% url 'search_by_location' %}">Palau</a>
                    <a class="dropdown-item" href="{% url 'search_by_location' %}">Capee Towm</a>
                </div>
            </li>
        </ul>
    </div>

</nav>